# Include the license file
include LICENSE tox.ini README.rst requirements.txt
include hathi_validate/xsd/*.xsd
recursive-include tests *.py

recursive-include docs *
recursive-include features *.feature *.py