behave
coverage
flake8
lxml
mypy
paramiko
pep517
pydocstyle
pylint
pytest
pytest-cov
pytest-runner
sphinx
-r requirements/requirements_tox.txt
-r requirements/requirements-devpi.txt
types-PyYAML
twine
